<h1>Orders</h1>
<hr>
<% @orders.each do |order|%>
	<h3>Order Number <%= order.id %></h3>
	<div class="well">
		<h4>Shipped To:</h4>
		<%= order.shipping_name %><br>
		<%= order.shipping_address %><br>
		<%= render partial: "order", locals: {order: order} %>
	</div>

	<hr/>
<% end %>