<div class="container">
	<div class="row">
		<br>
		<div class="col-sm-2"></div>

		<div class="col-sm-8 well">
			<h2>Brand Info</h2>
			<p>
			  <strong>Name:</strong>
			  <%= @brand.name %>
			</p>
			<%= link_to fa_icon('pencil', text: "edit"), edit_admin_brand_path(@brand) %> |
			<%= link_to fa_icon('arrow-left ', text: "back"), admin_brands_path %>
		</div>

		<div class="col-sm-2"></div>
	</div>
</div>

