<div class="container">
	<div class="row">
		<br>
		<div class="col-sm-2"></div>
		
		<div class="col-sm-8 well">
			<h2>Category Info</h2>
			<p>
				<strong>Name:</strong>
				<%= @category.name %>
			</p>

			<%= link_to fa_icon('pencil', text: "edit"), edit_admin_category_path(@category) %> |
			<%= link_to fa_icon('arrow-left ', text: "back"), admin_categories_path %>
			<br>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
