<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8" style="padding-top:20px;">
        <small>Online Shopping Site created by Piyush Awasthi.</small>
      </div>
    </div>
  </div>
</footer>